#chart-page {
    display: flex;
    flex-direction: column;    
}
#chart-container {
    flex-grow: 1;
    position: relative;
    border: 1px dashed black;
}
.chart {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#version {
    float: right;
    margin: 0.5em;
    font-size: 0.60em;
}
.ui-panel-inner {
    margin-bottom: 3em;
}
h2 {
    margin-top: 0;
}
h3 {
    margin: 1em 0 0 0;
    padding: 0 0 10px 0;
    font-size: 1.2em;
}
.endpoint-header {
    font-size: 1.2em;
    font-style: italic;
}
#options-hr {
    margin-top: 3em;
}
#metadata-popup {
    padding: 0;
}
#metadata-popup table {
    padding: 1em;
}
#metadata-popup th {
    text-align: right;
}