#chart-page {
    display: flex;
    flex-direction: column;    
}
#chart-container {
    flex-grow: 1;
    position: relative;
    border: 1px dashed black;
}
.chart {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.chart-body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;    
}
.chart-title-bar {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;                
}
.chart-title-bar .chart-title {
    background-color: white;
    padding: 0 1em;
}
.chart-close-button {
    float: right;
}
#version {
    float: right;
    margin: 0.5em;
    font-size: 0.60em;
}

