#chart-holder {
    position: absolute;
    left: 1em;
    top: 3em;
    bottom: 1em;
    right: 1em;
    border: 1px dashed black;
}
.chart {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.chart-body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.chart-title-bar {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;                
}
.chart-title-bar .chart-title {
    background-color: white;
    padding: 0 1em;
}
.chart-close-button {
    float: right;
}
.subpanel:nth-child(2) {
    text-align: right;
}
h1 {
    font-size: 1em;
    margin: 0;
}
#chrome {
    display: table;
    width: 100%;
    min-width: 450px;
}
.subpanel {
    display: table-cell;
}
#pv-input {
    width: 9em;
}


